.schematic-rotate {
	transform: rotate(90deg);
	margin-top: 80px;
	margin-bottom: 80px;
}

pre code {
	display: block;
}

body {
	display: flex;
	flex-direction: column;
}

.snippets {
	height: 100%;
	width: 100%;
}

.code-snips {
	margin-top: 900px;
}

.circuit-rotate {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	margin: 80px;
}

#a4code {
	margin-top: 200px;
}
